@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic);

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?u6ca7c');
  src:url('fonts/icomoon.eot?#iefixu6ca7c') format('embedded-opentype'),
    url('fonts/icomoon.woff?u6ca7c') format('woff'),
    url('fonts/icomoon.ttf?u6ca7c') format('truetype'),
    url('fonts/icomoon.svg?u6ca7c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e603";
}
.icon-tags:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e601";
}
.icon-keyboard:before {
  content: "\e604";
}
.icon-mobile:before {
  content: "\e605";
}
.icon-trophy:before {
  content: "\e606";
}
.icon-rocket:before {
  content: "\e607";
}
.icon-thumbs-up:before {
  content: "\e608";
}
.icon-mail:before {
  content: "\e609";
}
.icon-facebook:before {
  content: "\e60a";
}
.icon-twitter:before {
  content: "\e602";
}
.icon-youtube:before {
  content: "\e60b";
}

/*!
 * Anatomy
 * An accessible web interface kit
 * http://anatomy.heydonworks.com
 * @author Heydon Pickering
 * @version 0.0.1
 * Copyright 2014. GNU licensed.
 */

/**************************************************************

NORMALIZATION
Including selected rules from git.io/normalize to normalize browser defaults

***************************************************************/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

:focus {
  outline: thin dotted;
}

abbr[title] {
  border-bottom: 1px dotted;
}

mark {
  background: #ff0;
  color: #000;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**************************************************************

DOCUMENT
Basic styles defined at the top of the cascade, on the document 
itself

***************************************************************/
html {
  height: 100%;
  font-size: 20px;
}

body {
  min-height: 100%;
  font-family: Asap, sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  color: #1a1a1a;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

/**************************************************************

FLOW
Rules to help govern the document's flow content (successive 
block level elements).

***************************************************************/
p {
  line-height: 1.5;
}

* + * {
  margin-top: 1.5em;
}

li, dt, dd {
  margin-top: 0;
}

p + p {
  margin-top: 0.75em;
}

p + * {
  display: block;
}

* + figure, * + hr, * + canvas, p + div, p + img {
  margin: 2.25em 0;
}
* + figure:last-child, * + hr:last-child, * + canvas:last-child, p + div:last-child, p + img:last-child {
  margin-bottom: 0;
}

h1 + h2, h1 + p {
  font-family: Asap, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-top: 0.5em;
}

.try-online {
  display: block;
  font-size: 1.5em;
  margin-top: 0.75em;
  font-weight: bold;
  line-height: 1;
}

/* markdown-friendly blockquote styles */
blockquote > * {
  font-size: 0.85em;
  margin-left: 2em;
}

blockquote p {
  font-style: italic;
}

/**************************************************************

PHRASING
Styling of inline "phrasing" content

***************************************************************/
p * {
  margin: 0;
  line-height: 1;
}

em, i, q, cite {
  font-style: italic;
}

b, strong, abbr {
  font-weight: bold;
}

abbr {
  cursor: help;
  letter-spacing: 2px;
}

small {
  color: #777;
  font-size: 0.85em;
}

code {
  font-family: monospace;
  font-size: 0.85em;
}

/*

kbd eg.

<kbd>
	<kbd>shift</kbd> + 
	<kbd>tab</kbd>
</kbd>

*/
kbd kbd {
  background: #777;
  color: #fff;
  padding: 0.25em 0.5em;
  font-size: 0.85em;
  font-weight: bold;
}

/**************************************************************

LINKS
Hyperlink styles according to state and context

***************************************************************/
a {
  text-decoration: none;
  color: #358272;
}

p a, *:not(nav) li a, figcaption a, dd a {
  border-bottom: 1px solid;
}
p a:hover, p a:focus, *:not(nav) li a:hover, *:not(nav) li a:focus, figcaption a:hover, figcaption a:focus, dd a:hover, dd a:focus {
  border-width: 3px;
}

a:not([href]) {
  cursor: default;
}

/* Skip link. Place this directly within <body> at the top of the page */
[href="#main"] {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  text-align: center;
  background: #fff;
}

[href="#main"]:focus {
  top: 0;
}

[href="#main"] + * {
  margin-top: 0;
}

h3 a {
  border-bottom: 1px solid;
}

h3 a:hover, h3 a:focus {
  border-width: 2px;
}

.button-shaped {
  background: #358272;
  color: #fff;
  font-family: 'Roboto Slab', sans-serif;
  padding: 0.25em 0.5em;
  font-size: 1.25em;
  border-radius: 0.25em;
  display: inline-block;
}

/**************************************************************

HEADINGS
h1 - h5 styles

***************************************************************/
h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.125;
  font-family: Roboto Slab, serif;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

/**************************************************************

LISTS
Basic list styles (for content, not navigation blocks etc.)

***************************************************************/
li {
  list-style: disc inside;
}

li li {
  list-style-type: circle;
}

/* 1, 2, 3... */
ol li {
  list-style-type: decimal;
}

/* i, ii, iii... */
ol li li {
  list-style-type: lower-roman;
}

dt {
  font-weight: bold;
}

dd {
  font-style: italic;
}

ul ul, ol ol, ul ol, ol ul {
  margin-left: 1em;
}

dd + dt {
  margin-top: 0.75em;
}

/**************************************************************

GRAPHICS
Responsive image and figure styles

***************************************************************/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  width: 100% !important;
  text-align: center;
}

figure img {
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-style: italic;
  text-align: center;
  color: #666;
  font-size: 1.25em;
  margin-top: 0.75em;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}

/**************************************************************

NAVIGATION
Navigation blocks using ARIA role="navigation"

aria-label eg.

<nav role="navigation" aria-label="main menu">
	<ul>
		<li><a href="[URL]">[LINK TEXT]</a></li>
		<li><a href="[URL]">[LINK TEXT]</a></li>
		<li><a href="[URL]">[LINK TEXT]</a></li>
	</ul>
</nav>

heading eg.

<nav role="navigation">
	<h2>Main Menu</h2>
	<ul>
		<li><a href="[URL]">[LINK TEXT]</a></li>
		<li><a href="[URL]">[LINK TEXT]</a></li>
		<li><a href="[URL]">[LINK TEXT]</a></li>
	</ul>
</nav>

***************************************************************/

[role="navigation"] {
  background: #E5E68E;
}

[role="navigation"] ul {
  font-size: 0;
}

[role="navigation"] li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  /* smelly IE8 */
  font-size: 1rem;
}

[role="navigation"] a {
  display: block;
  border: 0;
}

[role="navigation"] ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  background: #E5E68E;
}

[role="navigation"] li {
  display: table-cell;
  vertical-align: middle;
}

[role="navigation"] a {
  font-size: 1.25em;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #333;
}

[role="navigation"] a:hover, [role="navigation"] a:focus {
  color: #358272;
}

[role="navigation"] img {
  padding: 0.75em;
}

[role="navigation"] a:hover img, [role="navigation"] a:focus img {
  outline: 2px solid #358272;
}

[role="navigation"] li:first-child a {
  background: 0;
}

.service-link {
  line-height: 1.1;
}

.service-link:before {
  content: '\2605 Recommended \2605';
  display: block;
  font-size: 0.7em;
  margin-top: -1.1em;
}

/**************************************************************

BUTTONS
It is important to use <button> elements in most cases that the
action is not to hyperlink to a new page or section

Basic, accessible buttons are defined below, as well as buttons
in certain ARIA states.

***************************************************************/
button {
  padding: 0.5em 1em;
  background: #358272;
  color: #fff;
  border: 0;
  display: inline-block;
  margin-right: 0.25em;
  cursor: pointer;
  border-bottom: 0.5em solid #1a1a1a;
  position: relative;
  top: 0;
}

button:focus {
  outline: 1px dotted #1a1a1a;
  outline-offset: 0.25em;
}

button {
  border-bottom: 0.5em solid #1a1a1a;
}

button:active, button[aria-pressed="true"], button[aria-selected] {
  top: 0.25em;
  border-bottom-width: 0.25em;
}

button[disabled]:active, button[disabled][aria-pressed="true"], button[aria-selected] {
  top: 0;
  border-bottom-width: 0.5em;
  background: #c00;
}

button[disabled] {
  background: #777;
  cursor: default;
}

button:active {
  outline: none;
}

/* Enlarge independent buttons. They stand alone, so are important */
button:only-of-type {
  font-size: 1.25em;
}

/**************************************************************

FORMS
Basic form styling

***************************************************************/
form * + * {
  margin-top: 1em;
}

input, textarea, select {
  padding: 0.25em;
  display: block;
  width: 100%;
}

input, select {
  height: 2em;
  line-height: 2em;
}

textarea {
  resize: none;
}

label {
  display: block;
  font-weight: bold;
}

label + * {
  margin-top: 0.25em;
}

option {
  margin-top: 0;
}

label > * {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 0;
  cursor: pointer;
}

* + [type="submit"] {
  margin-top: 1.5em;
}
/**************************************************************

UTILITIES

***************************************************************/

.narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.content {
  margin-top: 2.25em;
  padding-bottom: 2.25em;
  padding-left: 1em;
  padding-right: 1em;
}

.vh {
  position: absolute;
  left: -9999px;
}

.border-right {
  border-right: 2px solid #1a1a1a;
}

.smaller {
  font-size: 0.85em;
}

.bigger {
  font-size: 1.25em;
}

/**************************************************************

LAYOUT

***************************************************************/

.app img {
  margin: 0 auto;
  max-height: 300px;
}

.app a img {
  margin: 0;
  max-width: 166px;
}

.app > div {
  text-align: left;
}

.app .grid-2-columns > div {
  text-align: left;
}

.service {
  padding: 0 1.5em !important;
}

.councils {
  width: 40% !important;
}

.awards {
  width: 60% !important;
}

.councils, .awards {
  padding: 0 2.25em !important;
}

.awards ul, .councils ul {
  margin-top: 0.85em;
}

.awards li {
  list-style: none;
}

.awards li:before {
  content: '\2605';
  font-size: 1.25em;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.25em;
  color: #358272;
  line-height: 1;
}

.taking-off h2 {
  font-size: 3em;
}

.contact {
  background: #E5E68E;
  padding: 1.5rem;
}

.contact > * {
  font-size: 1.75rem !important;
}

.contact h2 {
  font-size: 1em;
}

.contact * {
  text-align: center;
}

.contact h2 + * {
  margin-top: 0.75em
}

.contact li {
  display: inline;
  list-style: none;
}

.contact a {
  border: 0;
}

.contact a:hover, .contact a:focus {
  border-bottom: 2px solid;
}

.contact p {
  font-size: 0.7em;
  font-style: italic;
}

[role="contentinfo"] {
  background: #333;
  padding: 1.5em;
  color: #fff;
  text-align: center;
  margin-top: 0;
}

[role="contentinfo"] a {
  color: #fff;
}

/**************************************************************

GRIDS
Here, we generate flexible and self-correcting grids based on a 
list of column variants

Example markup (a three column grid):

<div class="grid-3-columns">
	<div></div>
	<div></div>
	<div></div>
	<div></div> <!-- will be corrected to fill space -->
</div>

***************************************************************/
[class^="grid-"] {
  margin-top: 30px;
  margin-top: 1.5rem;
  font-size: 0;
  text-align: center;
  /* just has to be a big, px based number */
}

[class^="grid-"] > * {
  font-size: 20px;
  font-size: 1rem;
  text-align: left;
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
  padding: 0 0.75em;
}
[class^="grid-"] > *:last-child {
  padding-right: 0;
}

.grid-2-columns > * {
  width: 50%;
}

.grid-2-columns > *:nth-child(2n + 1):nth-last-child(1) {
  width: 100%;
}
.grid-2-columns > *:nth-child(2n + 1):nth-last-child(1) ~ * {
  width: 100%;
}

.grid-2-columns > *:nth-child(2n + 1):nth-last-child(2) {
  width: 50%;
}
.grid-2-columns > *:nth-child(2n + 1):nth-last-child(2) ~ * {
  width: 50%;
}

.grid-2-columns > *:nth-child(2n + 1) {
  padding-left: 0;
}

.grid-2-columns > *:nth-child(2n + 2) {
  padding-right: 0;
}

.grid-2-columns > *:nth-child(2n + 2) ~ * {
  margin-top: 1.5em;
}

.grid-3-columns > * {
  width: 33.33333%;
}

.grid-3-columns > *:nth-child(3n + 1) {
  padding-left: 0;
}

.grid-3-columns > *:nth-child(3n + 3) {
  padding-right: 0;
}

.grid-3-columns > *:nth-child(3n + 3) ~ * {
  margin-top: 3em;
}

/* mutations */

.baseline > * {
  vertical-align: baseline;
}

/**************************************************************

GUIDE

***************************************************************/

.guide-container {
  overflow-x: auto;
  overflow-y: hidden;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  border-top: 3px solid #222222;
  border-bottom: 3px solid #222222;
  white-space: nowrap;
  background: #fff;
}
.guide-inner {
  height: 400px;
}
.guide-inner > * {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  margin-top: 0;
  padding-right: 36px;
}
.guide-inner p {
  width: 40%;
  font-size: 1.25em;
}
.guide-inner img {
  height: 100%;
  width: auto;
  margin: 0 !important;
}
.tour-sign {
  width: 100%;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: bottom;
}
.tour-sign img {
  display: block;
  margin: 0 auto !important;
  height: auto;
  width: auto;
  max-width: 80%;
}

.app-buttons {
  text-align: center;
}

.app-buttons img {
  display: inline-block;
  vertical-align: middle;
}

/**************************************************************

BLOG GRID

***************************************************************/

.blog-grid {
  margin: 0 25px;
  margin: 0 1.5rem;
  padding-bottom: 30px;
  padding-bottom: 2.25rem;
}

.blog-grid h2 {
  font-size: 1.5em;
}

.blog-grid li p {
  font-size: 0.85em;
}

.blog-grid h2 a:not(:hover):not(:focus) {
  border: 0;
}

.meta {
  font-style: italic;
  margin-top: 0;
  text-align: center;
  color: #666;
  font-size: 1.125em !important;
}

/**************************************************************

BREAKPOINTS

***************************************************************/

@media all and (max-width: 1000px) {

  html {
    font-size: 18px;
  }

}

@media all and (max-width: 850px) {

  html {
    font-size: 16px;
  }

}

@media all and (max-width: 770px) {

  [role="navigation"] ul {
    display: block;
    text-align: center;
  }

  [role="navigation"] li {
    display: inline-block;
    padding: 0.25em 1em;
  }

  [role="navigation"] li:first-child {
    width: 100%;
  }

  [role="navigation"] li img {
    max-width: 300px;
    margin: 0 auto;
  }

  [role="navigation"] li .service-link:before {
    content: '' !important;
    margin: 0;
  }

  .app .phone {
    padding: 0 1em !important;
  }

  .app a img {
    max-width: 120px;
  }

  .guide-inner {
    height: 300px;
  }
  .guide-inner p {
    width: 55%;
  }

}

@media all and (max-width: 720px) {

  .service div {
    width: 100% !important;
  }

  .service img {
    display: none;
  }

  .taking-off {
    margin-top: 3em;
  }

}

@media all and (max-width: 620px) {

  .service, .app, .councils, .awards {
    display: block;
    width: 100% !important;
    border: 0;
  }

  .service, .awards {
    margin-top: 1.5em;
  }

  .service, .taking-off {
    border-top: 1px solid #222;
    padding-top: 1.5em !important;
  }

  .app img {
    margin: 0 auto;
  }

}

@media all and (max-width: 620px) {

  .guide-inner {
    height: 200px;
  }
  .guide-inner p {
    width: 70%;
    font-size: 0.9em;
  }

}